body {
    font-family: sans-serif;
    margin: 0;
}

header{
    background-color: #81A2F8;
    height: 67px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 64px;
    position: relative;
    left: 38px;
    top: 27px;
    font-size: 24px;
}

.we{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 32px;
    margin-top: 29px;
    margin-bottom: 16px;
    
}

.heading{
    border-bottom: 1px solid black;
}

.first {
    
    margin-bottom: 23px;
    width: 100%;
}

img{
    width: 228px;
    height: 156px;
    border-radius: 20px;
}


p{
    font-size: 25px;
    margin-left: 12px;
}

.main{
    background-color: #81A2F8;
}

li{
    font-size: 20px;
    padding: 5px;
}

.second{
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
}

.secondp{
    font-size: 25px;
}

footer{
    background-color: #140D0D;
    display: flex;
    margin-top: 75px;
}

footer img{
    height: 59px;
    width: 120px;
    margin: 20px;
}

footer p{
    color: white;
    font-size: 20px;
}

.link{
    width: 20px;
    height: 17px;
    margin-top: 72px;
}

.first, .second {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.first img, .second img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    flex: 1 1 250px;
}

.first p, .second p {
    font-size: 40px;
    margin: 0;
    flex: 2 1 300px;
}

.ttt:hover{
    text-decoration: underline;
}

.ttt {
    transition: 1s ease;
}
